.btn{
display: inline-block;
border-radius: $radius_sm;
padding: 1rem 2rem;
text-decoration: none;
color: $black;
font-weight: 500;
line-height: 1.2;
transition: background .1s linear, color .1s linear;

&--pink{
    border: 2px solid $pink;
    &:hover{
        background-color: $pink;
        color: $white;
    }
}
}
