.contacts {
    list-style: none;
    padding: 0;
}
.contacts__item{
    display: inline-block;
    vertical-align: middle;
}

.contacts__link{
    text-decoration: none;
    color: $black;
    

    &:hover{
        text-decoration: underline;
    }
}