.intro__text{
    color: $grey_dark;
    font-size: 1.2rem;
}
.intro__title{
    color:$black;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.intro__subtitle{
    color: $grey_dark;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.intro__subtitle--pink{
    color: $pink;
}