.modal-content {
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: $radius_sm;
    background-color: $white;
    box-shadow: $shadow;
}

.modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.2rem;
    right: -2.2rem;
    z-index: 1;
    padding: 0;
    background: none;
    border: none;
}
.modal__close-icon{
    display: block;
    width: 100%;
    height: 100%;
    fill: $white;
}

.modal-title{
    margin-bottom: .5rem;
    font-size: 1.6rem;
    color: $pink;
    font-weight: 500;
}

.modal-text{
    margin-bottom: 2rem;
    font-weight: 500;
    color: $black;
    line-height: 1.2;
}

.contacts-modal{
    margin-top: .5rem;
    margin-bottom: 0;
}